<section class="banner shop" style="background-image: url('http://i.imgur.com/qnH1Efi.jpg')" >
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Les fermes</h2>
        </div>
    </div>
</section>

<section class="container-padding">
  <h1>Farms</h1>
    <table>
      <thead>
        <tr>
          <th>Nom de la ferme </th>
          <th>Adresse de la ferme </th>
          <th>Numéro de téléphone de la ferme </th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @farms.each do |farm| %>
          <tr>
            <td><%= farm.title %></td>
            <td><%= farm.address %></td>
            <td><%= farm.phone %></td>
            <td><%= link_to 'Afficher la ferme', farm %></td>
            <td><%= link_to 'Modifier la ferme', edit_farm_path(farm) %></td>
            <td><%= link_to 'Supprimer la ferme', farm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Ajouter une ferme', new_farm_path %>

</section>
