<p id="notice"><%= notice %></p>

<h1><%= @farm.title %></h1>
<p><%= @farm.description%><p>
<p>Numéro de téléphone : <%= @farm.phone %></p>
<p>Adresse : <%= @farm.address %></p>
<div>
  <% @farm.products(@farm.id).each do |product| %>
  <p><%= product.name %><p>
  <%= link_to 'Modifier le produit', edit_farm_product_path(@farm, product) %>
  <%= link_to "Supprimer le produit", farm_product_path(@farm, product), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce produit ?" } %>
  <%end%>
</div>

<%= link_to 'Ajouter un produit', new_farm_product_path(@farm) %>

<%= link_to 'Edit', edit_farm_path(@farm) %>
<%= link_to 'Back', farms_path %>
