<p id="notice"><%= notice %></p>
                    <section class="banner shop" style="background-image: url(<%= @farm.background_image %>);">
                        <div class="container">
                            <div class="morepage-banner">
                                <h2 class="title"><%= @farm.title %></h2>
                            </div>
                            <p><%= @farm.description%><p>
                            <p>Numéro de téléphone : <%= @farm.phone %></p>
                            <p>Adresse : <%= @farm.address %></p>
                        </div>
                    </section>
                    <section class="page-main padding-top-100">
                        <div class="container">
                            <div class="row">
                                <div class="list-block column-2">
                                    <% @farm.products(@farm.id).each do |product| %>
                                    <div class="item">
                                      <div class="block-4">
                                          <div class="block-image">><img src="<%= product.image %>" alt="Image de <%= product.name %>" class="img-full">
                                            <a href="<%= edit_farm_product_path(@farm, product) %>" class="link"></a>
                                          </div>
                                          <div class="block-content"><a href="<%= farm_product_path(@farm, product)%>" class="title"><%= product.name %></a>
                                            <div class="prices-wrapper">
                                                <div class="prices"><sup>$</sup><span class="number"><%= product.price %></span></div><span class="unit">/<%= product.unit %></span>
                                            </div>
                                                <ul class="list-icons">
                                                  <li><%= link_to 'M', edit_farm_product_path(@farm, product), class: "link" %></li>
                                                  <li><%= link_to "X", farm_product_path(@farm, product), method: :delete, data: { confirm: "Voulez-vous vraiment supprimer ce produit ?" }, class: "link" %></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p>
                                    </div>
                                    <%end%>
            <div id="back-top"><a href="#top" class="link"><i class="fa fa-angle-double-up"></i></a></div>
        </div>
        </div>
 <%= link_to 'Ajouter un produit', new_farm_product_path(@farm) %>
 <%= link_to 'Modifier la ferme', edit_farm_path(@farm) %>
 <%= link_to 'Retour', farms_path %>
    </body>
</html>
