<section class="banner shop" style="background-image: url('http://i.imgur.com/428jSqD.jpg')">
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Le produit</h2>
        </div>
    </div>
</section>

<img src="<%=@product.image%>" />

<%= form_tag(farm_order_product_path(@farm.id, @product.id), method: "post") do %>
  <%= label_tag(:quantity, "Quantité:") %>
  <%= number_field(nil, :quantity, value: 1) %>
  <%= @product.unit %>
  <%= submit_tag("Ajouter au panier") %>
<% end %>

 <%= link_to 'Edit', edit_farm_product_path(@product) %>
 <%= link_to 'Back', farm_products_path %>
